gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
gradle.properties
build.gradle
/app/build.gradle
/windows/flutter/CMakeLists.txt
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
key.properties
**/*.keystore
**/*.jks